// colors

$textColor: #fff;
$textColor2: #282828;
$primary: #F9C029;
$textSticker: #6a6a6a;

$spaceBlue: #152640;
$darkerBlue: #234664;
$darkBlue: #316688;
$blue: #3E85AB;
$lightBlue: #4CA5CF;
$lighterBlue: #5AC5F3;
$grass: #1A9E39;
$gift: #FE64DA;

// fonts
$title: 'Skranji', sans-serif;